* {
  /* General taskbar font, I like maple mono ^-^*/
  font-family: Maple Mono;
  border-radius: 8;
  font-size: 14px;
  padding: 0px;
  background: transparent;
}

window#waybar {
  /* Linear gradients are used because it makes less harsh rounded border radius, gtk bug :p */
  background: rgba(20, 18, 22, 0.3);
  border-radius: 14px;
  padding: 0px 15px 0 15px;
  border-style: none;
  -webkit-backdrop-filter: blur(10px);
}

#battery,
#network,
#clock,
#custom-applauncher,
#custom-spotify,
#workspaces,
#pulseaudio {
  /* background-image: linear-gradient(to bottom, #27232b 100%); */
  background: rgba(20, 18, 22, 0.8);
  margin: 6px;
  margin-right: 0px;
  padding: 4px 8px;
  border-radius: 8px;
  color: #bfe7f5;
  border-style: none;
  transition-duration: 120ms;
}

#network {
  margin-right: 6px;
}

#custom-spotify menu {
  background-color: #141216;
  color: #bfe7f5;
  padding: 4px;
}
#custom-spotify menu menuitem {
  background-image: linear-gradient(to bottom, #27232b 100%);
  margin: 3px;
  color: #bfe7f5;
  border-radius: 4px;
  border-style: solid;
  border-color: #27232b;
}
#custom-spotify menu menuitem:hover {
  background-image: linear-gradient(to bottom, #27232b 100%);
  color: #ac82e9;
  font-weight: bold;
}

#workspaces button {
  transition-duration: 100ms;
  all: initial;
  min-width: 0;
  font-weight: bold;
  color: #bfe7f5;
  margin-right: 0.2cm;
  margin-left: 0.2cm;
}

#workspaces button:hover {
  transition-duration: 120ms;
  color: #5dcdf5;
}
#workspaces button.focused {
  color: #5dcdf5;
  font-weight: bold;
}
#workspaces button.active {
  color: #5dcdf5;
  font-weight: bold;
}
#workspaces button.urgent {
  color: #fcb167;
}

#battery {
  background-color: #222222;
  color: #1d2021;
}
#battery.warning,
#battery.critical,
#battery.urgent {
  color: #1d2021;
  background-color: #fc4649;
}
